.collapse-transition {
    -webkit-transition:.3s height ease-in-out,.3s padding-top ease-in-out,.3s padding-bottom ease-in-out;
    transition:height .3s ease-in-out,padding-top .3s ease-in-out,padding-bottom .3s  ease-in-out;
    overflow: hidden;
}
.horizontal-collapse-transition {
    -webkit-transition:.3s width ease-in-out,.3s padding-left ease-in-out,.3s padding-right ease-in-out;
    transition:.3s width ease-in-out,.3s padding-left ease-in-out,.3s padding-right ease-in-out;
}